packaging_format = 2

id = "noalyss"
name = "Noalyss"
description.en = "Accounting free software (Belgian and French accounting)"
description.fr = "Logiciel libre de comptabilité (comptabilité Belge et Française)"

version = "9.2.0.5~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0-only"
website = "http://noalyss.eu"
demo = "http://demo.noalyss.eu/index.php"
admindoc = "https://wiki.noalyss.eu/doku.php"

[integration]
yunohost = ">= 11.2.18"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false

sso = false

disk = "50M"
ram.build = "1000M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/noalyss"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

    [install.init_main_permission]
    type = "group"
    default = "visitors"
[resources]
        [resources.sources.main]
        url = "https://download.noalyss.eu/noalyss-package/version-92/noalyss-9205.tar.gz"
        sha256 = "21c721dce7fefd41aa360091c7f707441076ea094cc8fb3d5a12f0e20c72a4f9"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "postgresql, libgd-dev, php-php-gettext, php8.2-pgsql, php8.2-zip, php8.2-mbstring, php8.2-bcmath, php8.2-xml, php8.2-gmp, php8.2-gd"

    [resources.database]
    type = "postgresql"
