 /* <style type="text/css"> */
 /**
  * Use a font
  */
@font-face {
	font-family: 'OpenSansRegular';
	src: url('image/OpenSansRegular.eot');
	src: local('OpenSansRegular'), url('image/OpenSansRegular.woff') format('woff'), url('image/OpenSansRegular.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_38327">Text with this font applied</p> */
.fontsforweb_fontid_38327 {
	font-family: 'OpenSansRegular' !important;
}

BODY {
    font-family: Arial, Helvetica, "Liberation Sans"  , FreeSans, sans-serif;
    font-family: 'openSansRegular';
    padding : 0px;
    margin:0px;
    color:#0000FF; 
    font-size:0.9em;
    font-size:0.95rem;
    background-color: rgb(237, 243, 255)
}
.notice {
    color:#FF0000;
    font-style: italic;
}
span.notice {
    font-weight: bold;
}
table.sortable, table.table_large, table.result  ,table.resultfooter {
    color:#0000FF;
    width:99%;
    border-spacing:  1px;
   /*border-collapse:collapse; */
    margin  :0.5%;
    border:1px #5D90CD solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding:3px;
}
table.resultfooter tfoot {
    font-weight: bold;


}
table.sortable th,  table.table_large th,table.result th {
    font-weight:bold;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    border-bottom:2px #5d90cd groove;
    border-top:0;

    color:#202267;
    text-align: left;
    font-style: italic;

}

h2 {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    color:#888;
    margin:1px;
    padding:1px;
    font-style: italic;
    font-size:15px;
    font-size:1.2rem;
}
div.info {
    background:#879ED4;
    color:#FFFFFF;
    text-align:center;
}
content h2.info {
    background:#879ED4;
    color:#000000;
    text-align:center;
    padding:0px;
    margin:0px;
}
redcontent h2.info {
    background:#879ED4;
    color:#FFFFFF;
    text-align:center;
    padding:0px;
    margin:0px;
}
h2.info {
    background-color:#879ED4;
    color:#FFFFFF;
    text-align:center;
    padding:0px;
    margin:0px;

}


h3.info {
    background:#879ED4;
    color:#FFFFFF;
    text-align:center;
}

h2.info2 {
    color:#0000FF;
    text-align:center;

}


h2.error {
    background:#FF0000;
    color:#FFFFFF;
}


div.u_tmenu {
    margin-top:0px;
    width:100%;
}
div.u_subtmenu {
    background-color:#FFFFFF;
    float:left;
    clear:both;
    left:10px;

}
div.u_tmenu div.u_tool {
    float:left;

}
div.u_tool {
    float:left;
    width:  100%;
    padding-bottom: 20px;
}
div.u_tool #name {
    float:left;
    margin-left:10px;
}
#u_tool {
    float:right;
    margin-right:10px;
}
td.tool a.mtitle {
    text-decoration:none;
    display:inline;
    color: #0000FF;
    
}
td.tool a.mtitle:hover {
    text-decoration:none;
    display:inline;
    color: #00008B;
    background-color:#5D90CD;

}
#top {
    float:left;
    margin-bottom: 40px;
    width: 100%;
}
#module {
    position:absolute;
    top:0px;
    right:5px;
    text-align:right;
    padding:0px;
    margin: 0px;
    font-size:12.16px;
    font-size:0.76rem;
}
div.u_subt2menu {
    background-color:#EDF3FF;
    left:1%;

}
div.lmenu {
    float:left;
    clear:left;

}
div.lextmenu {

    float:left;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';

}
div.searchmenu {
    left:30px;
    width:95px;
    top:100px;
    position:absolute;

}

div.recherche_form{
    width:700px;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    border-style:outset;
    border-width:1px;

}
div.redcontent{
    float:left;
    padding-top:7px;
    padding-left:8px;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    width:75%;

}
div.content{
    padding-top:0.0030%;
    margin-top:0.0030%;
    width:100%;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    font-size:12px;
    font-size:0.90rem;

}
div.content30{

    float:left;
    padding-top:7px;
    width:35%;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';

}
div.no span{
    position:static;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    font-weight:bold;
    color:#FF0000;

}

table.document {
    color:#0000FF;
    width:100%;
    border-spacing:  0px;
    border-collapse:collapse;

}
table.document th{
    font-weight:bold;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    border-bottom:2px solid #0000FF;
    border-top:0px;
    color:#202267;
    text-align: left;
    background-color:#EDF3FF;
    font-style: italic;
}
.error {
    width:60%;
    margin-left:20%;
    text-align: center;

    color:#FFFFFF;
    background-color:#FF0000;
    font-weight: bolder;
}

table.mtitle {
    border:0;
    text-align:center
}
td.mshort {
    height:15px;
    width:60px;
    text-align:center;
    border:  1px solid;
    color:#5D90CD ;
    background-color:#DDE6FF;
}
/* first Menu  */
td.mtitle {
    text-align:center;
    width:250px;
    height :30px;
    border-radius:5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
  background: #dde6ff;
  color:blue;
  border-color: blue;
  border-width: 1px;
  border-style: solid;
  border-color:#99B1DF;
}
td.mtitle a.mtitle {
    color : blue;
}
td.msubtitle {
    text-align:center;
    height:20px;
    background-color:#DDE6FF;
}
span.mtitle {
    color:#888;
    background-color:#0000FF;
    border-style:groove
}
span.odd {
    background-color:#EDF3FF;
    display:block;
}
span.even {
    background-color:#DDE6FF;
    display:block;
}
/* highlight table row */
tr.odd {
    background-color: #DDE6FF;
}
.highlight {
    font-weight: bolder;
    font-size:14px;
}
tr.highlight {
    font-weight: bold;
}
tr.even {
    background-color: #F7F8FC;
}
td.odd{
    background-color:#DDE6FF;
}
td.even{
    border:0px;
}
td.cell{
    height:32px;
    padding: 1px;
    
}
td.selectedcell{
    
/*    border-color:#0000FF;*/
  border-radius:5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
    font-weight: bold;
/*    background:#5D90CD ;*/
    color:#FFFFFF;
    width:250px;
    text-align:center;
    height:30px;
    border-color:#99B1DF;
    background: #879ED4; /* Old browsers */
   
}
a.mtitle {
    text-decoration:none;
    display:inline;
    color: #0000FF;

}
a.mtitle:hover {
    text-decoration:none;
    display:inline;

    color: #00008B;
    background-color:#5D90CD;

}
td.selectedcell a.mtitle,div.content td.selectedcell a.mtitle {
    text-decoration:none;
    display:block;
    color:#FFFFFF;
}
a.dossier {
    text-decoration:none;
    display:block;
    color: #202267;

}
tr.odd:hover td
{
    text-decoration:none;
    background-color: #a9d6e4;
    color:#FFFFFF;
}
tr.even:hover td
{
    text-decoration:none;
    background-color: #a9d6e4;
    color:#FFFFFF;
}
td.mtitle:hover,td.mtitle:hover a
{
    background:#a9d6e4;
    color:#FFFFFF;
}
td.msubtitle:hover,td.msubtitle:hover a
{
    background-color:#a9d6e4;
    color:#FFFFFF;
}
a.cell {
    text-decoration:none;
    display:block;
    color:#0000FF;
    background-color:#FFFFFF;
}

a.cell:hover {
    color:#FFFFFF;
    background-color:#5D90CD;
    text-decoration:none;
    display:block;
}


a.one:link {
    text-decoration:underline;
    color:#0000FF;
}
a.one:visited {
    text-decoration:none;
    color:#0000FF;
}

a.one:active {
    background: #0000FF;
}

a.one:hover {
    text-decoration:underline;
    background:#0000FF;
    color:#FFFFFF;
}


a.detail
{
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    text-decoration: none;
    display: block;
    color: #0000FF;
}

a.detail:hover
{
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    color: #FFFFFF;
    background-color:#5D90CD;
    text-decoration: none;
    display: block;
}

li.menuv,ol.menuv {
    display:inline;
    padding:16px 16px;
    padding:1rem 1rem;
}
div.redcontent a {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    text-decoration: none;
    display: block;
    color: #0000FF;

}

div.redcontent a:hover {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    color: #FFFFFF;
    background-color:#336699;
    text-decoration: none;
    display: block;

}
div.content a {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    text-decoration: none;
    display: block;
   color: #0000FF;
    padding: 0px;

}


div.content a:hover {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    color: #FFFFFF;
    background-color:#336699;
    text-decoration: none;
    display: block;

}

div.redcontent a.mtitle {
    text-decoration:none;
    display:inline;


    color:#000000;

}

div.redcontent a.mtitle:hover {
    text-decoration:none;
    display:inline;
    color:#FFFFFF;
    background-color:#00008B;


}
div.content td.mtitle a.mtitle {
    text-decoration:none;
    display:inline;
    



}
div.content a.mtitle {
    text-decoration:none;
    display:inline;
    color:#0000FF;



}

div.content a.mtitle:hover {
    text-decoration:none;
    display:inline;
    background-color:#00008B;
    color:#FFFFFF;


}
div.redcontent input.text {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    font-weight:normal;
    border-color:#336699;
    border-style:solid;
    background-color: #F93;
    border-width:1px;
    color:#0000FF;
}
div.content input.text {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    font-weight:normal;
    border-color:#336699;
    border-style:solid;
    border-width:1px;
    background-color: #F93;
    color:#0000FF;
}



div.redcontent input:focus , *.input_text:focus, div.content input:focus, div.redcontent textarea:focus
{
    background-color:#F93;
}

.document {
    color: #202267;
    border-collapse:collapse;
}
div.content a.document, a.document{
    text-decoration:underline;
    display:block;
}
a.document:hover {
    text-decoration:none;
    display:block;


}
.input_text_ro {
    border:solid 1px #0000FF;
    background:#EDEDED;
    color:#0000FF;
    margin:1px;
}
.input_text {
    border:solid 1px #0000FF;
    margin:1px;
}
.input_text:hover {
    border:solid 1px #0000FF;
    margin:1px;
    background-color:  #F93;
}
h1.legend, legend {
    font-weight: bold;
    font-style: italic;
    font-size: 19.2px;
    font-size: 1.2rem;
}
fieldset fieldset legend {
    color:#888;
}
select {
    border: 1px solid #0000FF;
    margin:2px;
    background-color:#FFFFFF;

}



.infobulle {
    position:absolute;
    border:1px solid #000000;
    background-color:#FCFFCC;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color:#000000;
    top:0px;left:0px;
    visibility:hidden;
    width:400px;
    width:25rem;
    z-index:20;
}

span.action {
    height:48px;
    height:3rem;

}
td.num {
    text-align:right;
}
tr.priority1 {
    background-color: #FF7F50;
}
span.action a.action {
    border:2px outset ;
    padding-left: 3px;
    padding-right:3px;
    text-decoration:none;

    display:inline;
    color:#000000;
    background-color:#EDF3FF;
}

span.action a.action:hover {
    text-decoration:none;
    display:inline;
    background-color:#DDE6FF;
    color:#000000;
}
div.popup_back{
    position:fixed;
    top:0px;
    left:0px;
    opacity:0.30;
    width:100%;
    height:100%;
    z-index:1;
    display:block;
    background: #3f4c6b;
}

div.popup_border_title {
    position:absolute;
    top:20%;
    left:10%;
    width:60%;
    height:80%;
    z-index:10;
    border: 2px outset #201e87;
    background-color:#879ED4;
    font-family: arial,verdana,sans-serif,helvetica;
    font-style: italic;
    font-weight: bolder;
    text-align:center;
    color: #FFFFFF;
    display:none;
    /*opacity:1;
    filter:alpha(opacity=100);*/

}
div.popup_border_notitle {
    position:absolute;
    top:20%;
    left:20%;
    width:60%;
    height:80% ;
    /*background:#EDF3FF;*/
    z-index:10;
    /*border:dotted 1px #000000;*/
    border: 3px outset #201e87;
    background-color: #879ED4;
    font-family: arial,verdana,sans-serif,helvetica;
    font-style: italic;
    font-weight: bolder;
    text-align:center;
    display:none;
    color: #FFFFFF;
    /*opacity:0.7;
    filter:alpha(opacity=70);
    */
}

div.popup_content {
    position:absolute;
    top:16px;
    bottom:0px;
    left:0px;
    right:0px;
    width:100%;
    height:96%;
    overflow: auto;
    background-color:#FFFFFF;
    font-family: arial,verdana,sans-serif,helvetica;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-align: left;
    display:none;
    z-index:10;
    /*opacity:1;
    filter:alpha(opacity=100);*/
}
div.autocomplete {
    background-color:#FFFFFF;
    border:1px solid #888;
    margin:0px;
    padding:1px;
    text-align:left;
    position:relative;
    top : -3px;
}
div.autocomplete em {
    color:#0000FF;
    font-weight:bold;
}
div.autocomplete ul {
    list-style-type:none;
    background-color:#FFFFFF;
    border:1px solid #888;
    width:375px;
    margin:0px;
    padding:0px;
}
div.autocomplete ul li.selected { 
    background-color: #DDE6FF;
}

div.autocomplete ul li {
    list-style-type:none;
    display:block;
    margin:0px;
    padding:0px;
    cursor:pointer;
}
span.informal{ 
    color:#000000;
}

ul.select_table  {
    /*padding:5px;*/
    overflow:hidden;
}
ul.select_table a{
    width:100%;
    display:block;
    background-color:inherit;
    color: #000000;
    text-decoration:none;
}
ul.select_table a:hover{
    background-color:#FFFFFF;
    color:#000000;
    /*text-decoration:underline;*/
}
ul.select_table li {
    display:table-row;
    list-style-type: none;
}
ul.select_table li span {
    display:table-cell;
    width:400px;
    width:25rem;
    margin: 0px;
    padding:  0px;
}

div.pc_calendar{

    float:left;

}
div.pc_calendar table {
    text-align:center;

}
div.pc_calendar tr{
}
div.content div.pc_calendar tr{
    height: 36px;
}
@media only screen and (min-width: 640px) {
    div.pc_calendar tr{
    height:110px;
    }
}
@media only screen and (max-width: 640px) {
    div.pc_calendar tr{
    height:40px;
    }
}
div.pc_calendar td{
    width:14%;
    border:#879ED4 solid 1px;
}

div.pc_calendar td.weekend {
    background-color:#e4e7ed;

}
div.pc_calendar td.workday{
    background-color:inherit;
}
div.pc_calendar span.day{
    font-weight: bold;
    display:block;
}
div.pc_calendar span.event{
    font-weight: bolder;

}
span.todo  {
    text-align: left;
    background-color:#FCFFCC;

}
input[disabled], textarea[disabled], option[disabled], optgroup[disabled], select[disabled] {
    -moz-user-focus:ignore;
    -moz-user-input:disabled;
    background-color:#EDF3FF;
    color:#00008B;
    cursor:inherit;
}

a#anchorbutton, .button, a.button,div.content a.button {
    color:#FFFFFF;
    font-weight: bold;
    text-decoration:none;
    font-family: arial,verdana,sans-serif,helvetica;
    background-image: url("image/bg-submit2.gif");
    background-repeat: repeat-x;
    background-position: left;
    border-color:  #0000FF;
    border-width:0px;
    padding:4px;
    margin:3px;
    cursor:pointer;
    margin:1px 2px 1px 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}
a#anchorbutton:hover, .button:hover,a.button:hover,div.content a.button:hover  {
    cursor:pointer;
    background-color:#FFFFFF;
    border-style:  inset ;
    color: #FF0000;
    margin:1px 2px 1px 2px;

}
a#smallanchorbutton, .smallbutton, a.smallbutton,div.content a.smallbutton {
    color:#FFFFFF;
    font-weight: bold;
    text-decoration:none;
    font-family: arial,verdana,sans-serif,helvetica;
    
    font-size:12px;
    font-size:0.75rem;

    border-style:  outset ;
    border-color:  #0000FF;
    border-width:0;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-left:  3px;
    margin-top:3px;
    cursor:pointer;
    margin:1px 2px 1px 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
background: rgb(109,179,242); /* Old browsers */
background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */

}
a#smallanchorbutton:hover, .smallbutton:hover,a.smallbutton:hover,div.content a.smallbutton:hover  {
    cursor:pointer;
    background-color:#FFFFFF;
    color:whitesmoke;
    margin:1px 2px 1px 2px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
background: rgb(109,179,242); /* Old browsers */
background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */ilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */

}
td.tool {
    border: solid 1px gray;
    background-color: #FFFFFF;
    border-bottom-width: 2px;
    text-align:center;
    border-radius:2px;
    -moz-border-radius: 2px;
   -webkit-border-radius: 2px;

}
td.toolselected  {
    border: solid 1px gray;
    color: #FFFFFF;
    border-bottom-width: 2px;
    text-align:center;
    border-radius:2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    background-color:#FF0000;
}
td.toolselected a.mtitle {
    color: #FFFFFF;
    border-bottom-width: 2px;
    text-align:center;
    border-radius:2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    background-color:#FF0000;
}
div.topmenu {
	font-size:13.6px;
	font-size:0.80rem;
        
}

#dossier h2{
    color:#00008B;
    display:inline;
    margin:0px;
    padding:0px;
    font-variant:small-caps;
}
/* </style> */
#add_todo_list , div.add_todo_list {
    border:1px solid #0000FF;
    background-color:#DDE6FF;
    padding:0.07%;
    position:absolute;
    text-align:left;
    z-index:1;
    width:480px;
    width:30rem;
    height:auto;
}
div.welcome {

}
div.gest_name {
    float:left;
    margin-left:150px;
    margin-top:15px;
}
h2.gest_name {
    border-right:  2px solid  #403a8d;
    border-bottom:2px solid  #403a8d;
    border-top:1px solid  #b4bbc2;
    border-left: 1px solid  #b4bbc2;
    padding: 5px;
    width: 80%;
    font-size:140%;
    margin-left: 10%;
}
body.op_detail_frame,div.op_detail_frame  {
    background-color:#e4e7ed;
    height:100%; width:100%;
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;


}
div.inner_box  {
    background-color: #DCE1EF;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    padding:2px;
    margin:0px;
    overflow:hidden;
    z-index:3;
    position:absolute;
    left:10%;
    border:1px solid #00008B;
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
font-size:14.4px;
font-size:0.90rem;
}
div.inner_box  {
    width: 85%;
    }
@media only screen and (min-width: 1281px) {
div.inner_box  {
    width: 85%;
    border-radius: 9px;
    padding: 5px;
    }
}
div.op_detail_title {
    background-color:#888;
    /*	width:500;*/


}

div#div_cat{
    position:absolute;
    border:1px solid #000000;
    top:15%;left:100px;
    visibility:hidden;
    z-index:2;
    width:50em;
    background-color:#EDF3FF;

}

div.divinfo
{  
    color:#FF0000;
    text-align:right;
    display:block;
    width:480px;
    width:30rem;
    height:13px;
    font-weight:bold;
}

div#search_form
{
    position:absolute;
    border:1px solid #000000;
    top:15%;left:100px;
    margin-left:25%;
    z-index:2;
    width:50%;
    display:none;
    background-color:#e4e7ed;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}
@media only screen and (max-width: 995px) {
      div#search_form {
         width:90%;
         margin-left:5%;
         left:0px;
      }  
}

table.sortable td, table.table_large td, table.result td
{
    padding-left:5px;
    padding-right:5px;
}
table.info_op
{
    width:100%;
}
table.info_op tr
{
    background:#FFFFFF;
}
h2#jrn_name
{
    color:#0000FF;
    margin-right:30%;
    float: right;
}
tr.footer{
    font-style: italic;
    font-weight: bold;

}
span.remain {
    font-weight: bold;
    color:#000000;
}
 div#jrn_name_div
    {
        float: right;
        margin-right:150px;


    }
    #predef_form {
        margin-left:35%;
        width:60%;
        position:absolute;
        z-index:2
    }
@media only screen and (min-width: 955px) {
    div#jrn_name_div
    {
        float: right;
        margin-right:150px;


    }
    #predef_form {
        margin-left:35%;
        width:60%;
        position:absolute;
        z-index:2
    }
}
@media only screen and (max-width: 955px) {
    div#jrn_name_div
    {
    }
    #predef_form {
    }
}
#direct
{
    display:inline;
    float:left;
}
#calc
{
    display:inline;
    float:left;
}
div#wait_box
{
    background-color:#DDE6FF;
    font-family: arial,verdana,helvetica,arial,sans-serif;
    width: 300px;
    padding:0px;
    margin:0px;
    overflow:hidden;
    z-index:10;
    position:absolute;
    left:30%;
    top:30%;
    border:1px solid #00008B;
    width: 260px;
}
#wait_box h2
{
    /* color:#000000; */
    text-align:center;
    /* width: 50%; */
}
#navi_tb {
width: 95%;
margin-left: 2%;
border-spacing: 0em 0.50em;
border-collapse: separate;
}
div#div_jrnsearch_op{

    border:1px solid #000000;
    width:800px;
    width:50rem;
    background-color:#EDF3FF;
    z-index: 5;

}
ul {
    padding-left: 110px;
}
a.line,div.content a.line
{
    text-decoration:underline;
    display:inline;
    /* color: #0000FF; */
}
a.line:hover,div_content a.line
{
    text-decoration:underline;
    display:inline;
    color: #FFFFFF;
    background-color:#336699;
}
#close_div
{
    color:white;
    text-decoration:none;
    margin-left: 2px;
    margin-right:6px;
    margin-top:0px;
    font-size:14px;
    font-size:1rem;
    cursor: pointer;
    border:0px;
}
#close_div:hover
{
    background-color: #F93;
}
#popmeout
{
    background-color:#FFFFFF;
    color:#0000FF;
    text-decoration:none;
    border:1px solid #0000FF;
    margin-left: 2px;
    margin-right:18px;
    font-size:12px;
    font-size: 0.75rem;
}
#popmeout:hover
{
    background-color:  #F93;
}
table.table_large tr.odd ,table.table_large tr.even {

    height:32px;
}
#calc1
{
    position:absolute;
    display:block;
    top:30px;
    left:150px;
    width:300px;
    border:1px solid #000000;
    background-color:#aec3e8;
    padding: 20px 20px;
}
span.invoice
{
    font-style: italic;
    display:block;
    margin: 20px;
    font-weight: bold;
}
a.nav,div.content a.nav,div.redcontent a.nav {
    display:inline;
    text-decoration:none;
}
a.nav:hover,div.content a.nav:hover,div.redcontent a.nav:hover {
    display:inline;
    text-decoration:none;
    background-color:#00008B;
    color:#FFFFFF;
}
#dossier {
    display:inline;
    float:left;
    width:100%;
    top:0px;
    text-align: center;
    font-variant:small-caps;
    font-weight: bolder;
    }
@media only screen and (min-width: 955px) {
#dossier {
    display:inline;
    float:left;
    width:100%;
    top:0px;
    text-align: center;
    font-variant:small-caps;
    font-weight: bolder;
    }
}
@media only screen and (max-width: 955px) {
#dossier {
    display:inline;
    float:left;
    width:100%;
    top:0px;
    text-align: left;
    font-variant:small-caps;
    font-weight: bolder;
    }
}

div.foldercontent {
    font-size:14px;
    font-size:0.95rem;
    width: 95%;
    margin-left: 2.5%;
}

h1.title {
    color: #0000FF;
    font-style: italic;
    text-align:center;
    text-transform: uppercase;
}
h2.title {
     background-color: #879ED4;
    color:#FFFFFF;
    text-align:center;
    padding:0.14%;
    border:1px solid #00008B;
  
}
h3.title {
    color: #0000FF;
    margin-left: 30px;
}
h4.title {
    color: #0000FF;
    margin-left: 45px;
    text-decoration: underline;
}
h5.title {
    color: #0000FF;
    margin-left: 45px;
    text-decoration: none;
    font-style: italic;
}
div.myfieldset
{
    margin-top: 5px;
    margin-left:5px;
    margin-right: 5px;
    border:#EDF3FF 2px groove;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}
#info_div {
    display:none;
    background-color: #FCFFCC;
    color:#000000;
    z-index: 15;
    position: absolute;
    top:0px;
    left:45%;
}
div.menu2 a.mtitle{
    font-size:13.6px;
    font-size:0.80rem; 
}
div.menu3 {
	font-size:13.6px;
	font-size:0.80rem;
    
}
#go_submit_id {
    
}
.decale {
    margin-left:30px;
}
#folder {
    border: 1px solid #0000ff;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0px;
    box-shadow: 10px 10px 5px #888888;
    padding: 5px;
    width: 100%;
}
#folder tr {
        height: 30px;
}    
/*#folder tr.odd,#folder tr.even {
    font-size : 1.2em;
}*/
textarea.itextarea{
    border:solid #0000FF 1px;
    width:90%;
    margin-left:5%;
    height:120px;
}

div#notice {
    position:absolute;
    right:5%;
    top:200px;
    background-color:#FCFFCC;
    border: 1px solid #000000;
}
div.name  {
    position:absolute;
    top:0px;
    left:0px;
    display:block;
    }   
div#modele_op_div{
    display: none;
    background-color:#e4e7ed;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    padding:0px;
    margin:0px;
    overflow:hidden;
    z-index:3;
    position:absolute;
    left: 10%;
    border:1px solid #00008B;
    width: 80%;
}
@media only screen and (min-width: 1015px) {
    div.name  {
    position:absolute;
    top:0px;
    left:0px;
    }   
    div#modele_op_div{
    display: none;
    background-color:#e4e7ed;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    padding:0px;
    margin:0px;
    overflow:hidden;
    z-index:3;
    position:absolute;
    left: 4%;
    border:1px solid #00008B;
    min-width: 75%;
    box-shadow: 10px 10px 5px #888888;
}
}
@media only screen and (max-width: 955px) {
    div.name  {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
    }   
    div#modele_op_div{
    display: none;
    background-color:#e4e7ed;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    padding:0px;
    margin:0px;
    overflow:hidden;
    z-index:3;
    position:absolute;
    left: 10%;
    border:1px solid #00008B;
    width: 85%;
     box-shadow: 10px 10px 5px #888888;
}
}

div#box_search_card {
    position:absolute;
    right:15.625%;
    top:115px;
}
div.bxbutton
{
    float:right;
    height:10px;
    display:block;
    margin-top:0.48%;
    margin-right:0.48%;
}
div.inner_box tr.odd {
    background: #E0EBFF;
}
#modele_op_tab tr.odd {
    background:  #EDF3FF;
}
div#bookmark_div {
    background-color:#e4e7ed;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    padding:2px;
    margin:0px;
    overflow:hidden;
    z-index:3;
    position:absolute;
   border:1px solid #00008B;
   top:32px;
   top:2rem;
   left:30%;
   width:40%;
}
div#preference_div {
    background-color:#e4e7ed;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    padding:0px;
    margin:0px;
    overflow:hidden;
    z-index:3;
    position:absolute;
    border:1px solid #00008B;
    top:32px;
    top:2rem;
    left:20%;
    width:50%;
}
#error_div{
    position:absolute;
    border:1px solid #000000;
    background-color:#DDE6FF;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    color:#FF0000;
    top:40%;left:25%;
    visibility:hidden;
    width:640px;
    width:40rem;
    z-index:20;
}
#error_div h2 {
    background: #FF0000;
}
div#error_content_div {
   color:#FF0000;
   font-weight: bold;
   text-align: center;
}
td.workday ol {
	margin:0px;
	padding:0px;
	list-style-type:none;
	text-align:left;
}
input.inum {
    text-align:right;
    border:1px solid #0000FF;
    margin:2px
}
div.box  {
    background-color:#e4e7ed;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    margin-top:10px;
    margin-left:3px;
    margin-right:3px;
    padding:2px;
    overflow:hidden;
    border:1px solid #00008B;
    width:32%;
    height:364px;
    float:left;
    font-size:14px;
    font-size:0.90rem;
}
@media only screen and (max-width: 1426px) {
    div.box {
    width: 48%;
    height: 380px;
}
}
@media only screen and (max-width: 955px) {
    div.box {
    width: 95%;
    height: 380px;
    }
}
div.box table{
    border-spacing:0px;
    font-size: 95%;
}
div.box tr.odd {
    background-color: #F2F6FD;
    
}
div.box tr.even {
    background-color:#e4e7ed;
    
}
#jrn_name_div h2{
    font-size:38.4px;
    font-size: 2.4rem;
}
#search_account {
    width: 70%;
}
fieldset {
    border-width: 1px;
}
#tva_select table {
    border-spacing: 0px;
}
#mod_predf_op {
    width: 80%;
    overflow: auto;
}
/****************************************************************************
 * Tabs  
 ****************************************************************************/
ul.tabs {
    padding-top: 15px;
    display:block;
    border-bottom: 1px solid #879ed4;
    padding-left: 2px;
    list-style: none;
}
ul.tabs  a  {
    display:inline;
}
li.tabs_selected {
    display:inline;
   background: #C2E3FC; /* Old browsers */
    background: -moz-linear-gradient(top, #C2E3FC 0%, #6393c1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C2E3FC), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C2E3FC 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C2E3FC 0%,#6393c1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C2E3FC 0%,#6393c1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #C2E3FC 0%,#6393c1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C2E3FC', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
    color:whitesmoke;
    margin-left: 1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border:1px #879ed4 solid;
    font-weight: bold;
    
}
li.tabs {
    display:inline;
    background-color: inherit;
    color:inherit;margin-left: 1px;
    padding: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border:1px #879ed4 solid;

}
li.tabs:hover {
    display:inline;
    background-color: lightblue;
    color:wheat;margin-left: 1px;
    padding: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border:1px #879ed4 solid;
    white-space: nowrap;

}
@media only screen and (min-width: 1280px) {
   li.tabs {
    display:inline;
    background-color: inherit;
    color:inherit;margin-left: 2px;
    padding: 15px 7px 0px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:1px #879ed4 solid;

}
    li.tabs:hover {
        display:inline;
        background-color: lightblue;
        color:wheat;
        margin-left: 2px;
        padding: 10px 7px 0px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border:1px #879ed4 solid;
       }
       li.tabs_selected {
            padding: 12px 15px 15px 15px;
       }
}
ul.tabs a {
    text-decoration: none;
    color:inherit;
    display:inline;
    white-space: nowrap;
    
}
ul.tabs a:hover {
    text-decoration: none;
    color:white;
    display:inline;
     background-color: lightblue;
}
/*
 * ????
 */
.previous_year
{
    text-align:right;
    color:black;
}
/*****************************************************************************
 * autocomplete style
 *****************************************************************************/

div.autocomplete_fixed {
    background-color:#FFFFFF;
    border:1px solid #888;
    margin:0px;
    padding:0px;
    text-align:left;
}
div.autocomplete_fixed em {
    color:#0000FF;
    font-weight:bold;
}
div.autocomplete_fixed ul {
        list-style-type:none;
        background-color:#FFFFFF;
        border:1px solid blue;
        width:300px;
        margin:0px;
        padding:0px;
        }
div.tag {
            
}
@media only screen and (max-width: 1280px) {
    div.autocomplete_fixed ul {
        list-style-type:none;
        background-color:#FFFFFF;
        border:1px solid blue;
        width:300px;
        margin:0px;
        padding:0px;
        }
       div.tag {
            
        }

}
@media only screen and (min-width: 1281px) {
    div.autocomplete_fixed ul {
        list-style-type:none;
        background-color:#FFFFFF;
        border:1px solid blue;
        width:500px;
        margin:0px;
        padding:0px;
        }
        div.tag {
            width: 50%;
        }
       

}
div.autocomplete_fixed ul li.selected { 
    background-color: #DDE6FF;
    border-bottom: 1px solid black;
}

div.autocomplete_fixed ul li {
    list-style-type:none;
    display:block;
    margin:0px;
    padding:0px;
    cursor:pointer;
}
#popup {
    font-size:0.9rem;
}
hr {
    width:95%;
    margin-left:2.5%;
    background:blue;
    height:2px;
        
}
/******************************************************************************
 * Hightlight row in a table 
 ******************************************************************************/
tr.highlight{
    font-weight: bolder;
    font-size:14px;
    background-color: #334975 !important;
    color:white !important;
    border-width:  2px;
    border-style: solid;
    border-color: blue;
}
tr.highlight a{
    color:white !important;
    
}
*|*:link {
    color: inherit;
}
/*******************************************************************************
 * Inner_box on a smaller screen
 *******************************************************************************/
@media only screen and (min-width: 1280px) {
    div.inner_box  {
        width: 95%;
        left:2%;
        margin-bottom: 2%;
        }
}
/*****************************************************************************
 * Table of one column to present menu 
 * as in CFGLED, FORECAST, REPORT
 *****************************************************************************/
table.vert_mtitle {
  text-align:center;
    /* border:5px solid #99B1DF; */
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    width:80%;
    margin-left: 10%;
    border-collapse: separate;
    border-spacing: 10px;
   
    
}
table.vert_mtitle td.first {
    background-color: #DCE1EF;
}
table.vert_mtitle td {
    border : 1px solid #99B1DF;
     background-color:#EDEDED;
     border-top-radius:20px;
}
table.vert_mtitle td a{
    padding : 20px;
    font-weight: bold;
}
table.vert_mtitle td:hover {
    border : 1px solid #99B1DF;
    background-color: #336699;
    color:white;
}
table.vert_mtitle td:hover a{
   color:white;
  
}

/*******************************************************************************
 *  Tiny button example : -X for remove action, remove link...
 *******************************************************************************/
div.content a.tinybutton,a.tinybutton{
    color: blue;
    font-weight: bold;
    text-decoration: none;
    font-family: arial,verdana,sans-serif,helvetica;
   /* background-image: url("image/bg-submit2.gif");
    background-repeat: repeat-x;
    background-position: left; */
    font-size: 8px;
    font-size: 0.7rem;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 3px;
    cursor: pointer;
    margin: 1px 2px 1px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    border-radius: 2px; 
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    display : inline;
}
input[type="button"].tinybutton {
     color: blue;
    font-weight: bold;
    text-decoration: none;
    font-family: arial,verdana,sans-serif,helvetica;
    font-size: 8px;
    font-size: 0.7rem;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 3px;
    cursor: pointer;
    margin: 1px 2px 1px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    border-radius: 2px; 
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    display : inline;
}
/*******************************************************************************
 Image Search
*******************************************************************************/
.image_search {
    cursor:pointer;
    width:16px;
    height:16px;
    vertical-align: top;
  background-image: url("image/bg-submit2.gif");
    background-repeat: repeat-x;
    background-position: left;
  
  padding : 3px;
  
}
/****************************************************************************
 * Aligned button
 ****************************************************************************/
ul.aligned-block {
    padding:5px;
    display : block;
}
ul.aligned-block li {
    display:table-cell;
    padding : 10px;
    list-style: none;
}
/******************************************************************************
 * Total in confirmation VEN / ACH
 ******************************************************************************/
#total_div_id {
    float: right;
    margin-right: 150px;
    background: snow;
    margin-top: 50px;
}
/***************************************************************************
 * column in the dashboard
 ***************************************************************************/

td.cut {
    max-width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
td.box {
    border-left: #9999ff solid 1px;
}

/****************************************************************************
* Smoke appearance of modal box
 ****************************************************************************/
.smoke-base {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  visibility: hidden;
  opacity: 0;
  background: rgba(0,0,0,.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#900000000);
}

.smoke-base.smoke-visible {
  opacity: 1;
  visibility: visible;
}

.smokebg {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.smoke-base .dialog {
  position: absolute;
    top: 25%;
  width: 40%;
  left: 50%;
  margin-left: -20%;
}

.dialog-prompt {
  margin-top: 15px;
  text-align: center;
}

.dialog-buttons {
  margin: 20px 0px 5px 0px
}

.smoke {
  text-align: center;
    background-color: #DCE1EF;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
        font-family: 'openSansRegular';

    padding:2px;
    margin:0px;
    overflow:hidden;
    z-index:3;
    position:absolute;
    left:10%;
    border:1px solid #00008B;
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
font-size:14.4px;
font-size:0.90rem;
width: 85%;
}
.dialog-buttons button:hover{
  color:beige;
  font-weight: bold;
}
.dialog-buttons button {
   color:#FFFFFF;
    font-weight: normal;
    text-decoration:none;
    background: #606c88; /* Old browsers */
    background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
    border-color:  #605D5D;
    border-width:0px;
    padding:4px;
    margin:3px;
    cursor:pointer;
    margin:1px 2px 1px 2px;
    border-radius: 5px;
    moz-border-radius:5px;
    width:7em;
    width:7rem;
}

.dialog-prompt input {
  margin: 0;
  border: 0;
  font-family: sans-serif;
  outline: none;
  font-family: Menlo, 'Andale Mono', monospace;
  border: 1px solid #aaa;
  width: 75%;
  display: inline-block;
  background-color: transparent;
  font-size: 16px;
  padding: 8px;
}

.smoke-base .dialog-inner {
  padding: 15px;

  color:#202020;
}

button.cancel {
  background-color: rgba(0,0,0,.40);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#444444,endColorstr=#444444);
}

.queue{
	display:none;
}
