<?php

/*
 *   This file is part of NOALYSS.
 *
 *   NOALYSS is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License, or
 *   (at your option) any later version.
 *
 *   NOALYSS is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with NOALYSS; if not, write to the Free Software
 *   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/

// Copyright Author Dany De Bontridder danydb@aevalys.eu

require_once '../include/constant.php';

define ("DOSSIER",37);

/**
 * Class to include, 
 */
require_once NOALYSS_INCLUDE.'/class/class_acc_account.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_balance.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_bilan.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_compute.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_ledger_fin.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_ledger_info.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_ledger.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_ledger_purchase.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_ledger_sold.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_operation.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_parm_code.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_payment.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_reconciliation.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_report.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_report_row.php';
require_once NOALYSS_INCLUDE.'/class/class_acc_tva.php';
require_once NOALYSS_INCLUDE.'/class/class_admin.php';
require_once NOALYSS_INCLUDE.'/class/class_anc_acc_link.php';
require_once NOALYSS_INCLUDE.'/class/class_anc_acc_list.php';
require_once NOALYSS_INCLUDE.'/class/class_anc_account.php';
require_once NOALYSS_INCLUDE.'/class/class_anc_balance_double.php';
require_once NOALYSS_INCLUDE.'/class/class_anc_balance_simple.php';
require_once NOALYSS_INCLUDE.'/class/class_anc_grandlivre.php';
require_once NOALYSS_INCLUDE.'/class/class_anc_group_operation.php';
require_once NOALYSS_INCLUDE.'/class/class_anc_group.php';
require_once NOALYSS_INCLUDE.'/class/class_anc_key.php';
require_once NOALYSS_INCLUDE.'/database/class_anc_key_sql.php';
require_once NOALYSS_INCLUDE.'/class/class_anc_listing.php';
require_once NOALYSS_INCLUDE.'/class/class_anc_operation.php';
require_once NOALYSS_INCLUDE.'/class/class_anc_plan.php';
require_once NOALYSS_INCLUDE.'/class/class_anc_print.php';
require_once NOALYSS_INCLUDE.'/class/class_anc_table.php';
require_once NOALYSS_INCLUDE.'/class/class_anticipation.php';
require_once NOALYSS_INCLUDE.'/class/class_bank.php';
require_once NOALYSS_INCLUDE.'/class/class_calendar.php';
require_once NOALYSS_INCLUDE.'/class/class_contact.php';
require_once NOALYSS_INCLUDE.'/class/class_customer.php';
require_once NOALYSS_INCLUDE.'/lib/class_database.php';
require_once NOALYSS_INCLUDE.'/class/class_default_menu.php';
require_once NOALYSS_INCLUDE.'/database/class_default_menu_sql.php';
require_once NOALYSS_INCLUDE.'/class/class_document_export.php';
require_once NOALYSS_INCLUDE.'/class/class_document_modele.php';
require_once NOALYSS_INCLUDE.'/class/class_document.php';
require_once NOALYSS_INCLUDE.'/class/class_document_type.php';
require_once NOALYSS_INCLUDE.'/class/class_dossier.php';
require_once NOALYSS_INCLUDE.'/class/class_exercice.php';
require_once NOALYSS_INCLUDE.'/class/class_extension.php';
require_once NOALYSS_INCLUDE.'/class/class_fiche_attr.php';
require_once NOALYSS_INCLUDE.'/class/class_fiche_def.php';
require_once NOALYSS_INCLUDE.'/class/class_fiche_def_ref.php';
require_once NOALYSS_INCLUDE.'/class/class_fiche.php';
require_once NOALYSS_INCLUDE.'/lib/class_filetosend.php';
require_once NOALYSS_INCLUDE.'/class/class_follow_up_detail.php';
require_once NOALYSS_INCLUDE.'/class/class_follow_up.php';
require_once NOALYSS_INCLUDE.'/class/class_forecast_cat.php';
require_once NOALYSS_INCLUDE.'/class/class_forecast_item.php';
require_once NOALYSS_INCLUDE.'/class/class_forecast.php';
require_once NOALYSS_INCLUDE.'/class/class_gestion_purchase.php';
require_once NOALYSS_INCLUDE.'/class/class_gestion_sold.php';
require_once NOALYSS_INCLUDE.'/class/class_gestion_table.php';
require_once NOALYSS_INCLUDE.'/lib/class_html_input.php';
require_once NOALYSS_INCLUDE.'/lib/class_html_table.php';
require_once NOALYSS_INCLUDE.'/lib/class_iaction.php';
require_once NOALYSS_INCLUDE.'/lib/class_ianccard.php';
require_once NOALYSS_INCLUDE.'/lib/class_ibutton.php';
require_once NOALYSS_INCLUDE.'/lib/class_icard.php';
require_once NOALYSS_INCLUDE.'/lib/class_icheckbox.php';
require_once NOALYSS_INCLUDE.'/lib/class_iconcerned.php';
require_once NOALYSS_INCLUDE.'/lib/class_idate.php';
require_once NOALYSS_INCLUDE.'/lib/class_ifile.php';
require_once NOALYSS_INCLUDE.'/lib/class_ihidden.php';
require_once NOALYSS_INCLUDE.'/lib/class_impress.php';
require_once NOALYSS_INCLUDE.'/lib/class_inum.php';
require_once NOALYSS_INCLUDE.'/lib/class_iperiod.php';
require_once NOALYSS_INCLUDE.'/lib/class_ipopup.php';
require_once NOALYSS_INCLUDE.'/lib/class_iposte.php';
require_once NOALYSS_INCLUDE.'/lib/class_iradio.php';
require_once NOALYSS_INCLUDE.'/lib/class_irelated_action.php';
require_once NOALYSS_INCLUDE.'/lib/class_iselect.php';
require_once NOALYSS_INCLUDE.'/lib/class_ispan.php';
require_once NOALYSS_INCLUDE.'/lib/class_itextarea.php';
require_once NOALYSS_INCLUDE.'/lib/class_itext.php';
require_once NOALYSS_INCLUDE.'/lib/class_itva_popup.php';
require_once NOALYSS_INCLUDE.'/database/class_jrn_def_sql.php';
require_once NOALYSS_INCLUDE.'/class/class_lettering.php';
require_once NOALYSS_INCLUDE.'/class/class_manager.php';
require_once NOALYSS_INCLUDE.'/class/class_menu_ref.php';
require_once NOALYSS_INCLUDE.'/database/class_menu_ref_sql.php';
require_once NOALYSS_INCLUDE.'/database/class_noalyss_sql.php';
require_once NOALYSS_INCLUDE.'/class/class_own.php';
require_once NOALYSS_INCLUDE.'/lib/class_pdf.php';
require_once NOALYSS_INCLUDE.'/class/class_periode.php';
require_once NOALYSS_INCLUDE.'/class/class_pre_op_ach.php';
require_once NOALYSS_INCLUDE.'/class/class_pre_op_advanced.php';
require_once NOALYSS_INCLUDE.'/class/class_pre_operation.php';
require_once NOALYSS_INCLUDE.'/class/class_pre_op_fin.php';
require_once NOALYSS_INCLUDE.'/class/class_pre_op_ods.php';
require_once NOALYSS_INCLUDE.'/class/class_pre_op_ven.php';
require_once NOALYSS_INCLUDE.'/class/class_print_ledger_detail_item.php';
require_once NOALYSS_INCLUDE.'/class/class_print_ledger_detail.php';
require_once NOALYSS_INCLUDE.'/class/class_print_ledger_fin.php';
require_once NOALYSS_INCLUDE.'/class/class_print_ledger_misc.php';
require_once NOALYSS_INCLUDE.'/class/class_print_ledger.php';
require_once NOALYSS_INCLUDE.'/class/class_print_ledger_simple.php';
require_once NOALYSS_INCLUDE.'/class/class_print_ledger_simple_without_vat.php';
require_once NOALYSS_INCLUDE.'/class/class_profile_menu.php';
require_once NOALYSS_INCLUDE.'/database/class_profile_menu_sql.php';
require_once NOALYSS_INCLUDE.'/database/class_profile_sql.php';
require_once NOALYSS_INCLUDE.'/lib/class_sendmail.php';
require_once NOALYSS_INCLUDE.'/lib/class_sort_table.php';
require_once NOALYSS_INCLUDE.'/class/class_stock_goods.php';
require_once NOALYSS_INCLUDE.'/database/class_stock_goods_sql.php';
require_once NOALYSS_INCLUDE.'/class/class_stock.php';
require_once NOALYSS_INCLUDE.'/database/class_stock_sql.php';
require_once NOALYSS_INCLUDE.'/class/class_supplier.php';
require_once NOALYSS_INCLUDE.'/class/class_tag.php';
require_once NOALYSS_INCLUDE.'/database/class_tag_sql.php';
require_once NOALYSS_INCLUDE.'/class/class_todo_list.php';
require_once NOALYSS_INCLUDE.'/lib/class_single_record.php';
require_once NOALYSS_INCLUDE.'/class/class_user.php';
require_once NOALYSS_INCLUDE.'/lib/class_zip_extended.php';


